<div class="uk-grid uk-contrast container" v-if="!$loadingAsyncData">
    <div class="uk-width-4-10">
        <ul class="liste-episodes">
            <li v-bind:class="{ 'active': currentEpisode.number == episode.number }" v-for="(index, episode) in episodes" @click="selectEpisode(index)">
                <div class="diese-number">
                    <span class="diese">#</span>
                    <span class="episode-number">{{ episode.number | numberDisplay }}</span>
                </div> {{ episode.title }} <div class="episode-counter"><span class="uk-badge uk-badge-success">{{ episode.counter }}</span></div>
            </li>
        </ul>
    </div>
    <div class="uk-width-6-10 player-infos">
        <h3>{{ currentEpisode.title }} ({{ currentEpisode.counter }})</h3>
        <hr>
        <h5>{{ currentEpisode.subtitle }}</h5>
        <div class="plyr">
            <audio controls>
            </audio>
        </div>
        <p>
            {{ currentEpisode.desc }}
        </p>
    </div>
</div>

