<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Les démons du midi</title>
    <link rel="stylesheet" href="../../node_modules/uikit/dist/css/uikit.almost-flat.min.css">
    <style>
        html {
            background-color: #43453f;
        }
        .container {
            text-align: center;
        }
        h1 {
            color: #FFF;
        }
        .loader {
            color: #FFF;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <dic class=" uk-vertical-align">
        <div class="container uk-vertical-align uk-container-center">
            <h1>Les démons du midi</h1>
            <i class="loader uk-icon-spinner uk-icon-spin"></i>
        </div>
    </dic>
</body>
</html>
